[package]
name = "atahos_core"
version = "0.1.0"
edition = "2024"
build = "build.rs"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
compiler_builtins = { version = "0.1", features = ["mem"] }
